@font-face {
    font-family: droid-sans-mono;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../fonts/droid_sans_mono.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../fonts/charter_regular.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../fonts/charter_italic.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../fonts/charter_bold.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('../fonts/charter_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: charter-smallcaps;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../fonts/charter_regular_small_caps.woff2') format('woff2');
}

@font-face {
    font-family: charter-smallcaps;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../fonts/charter_bold_small_caps.woff2') format('woff2');
}

@font-face {
    font-family: fira-mono;
    src: url("../fonts/firamono_regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: fira-mono;
    src: url("../fonts/firamono_bold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
