body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  max-width: 42em;
  margin: auto;
  padding: 0 2%;
  overflow-wrap: break-word;
}

a[href^="http"]:after
{
  content: '⤴'; '⇗';
  display: inline-block;
}

nav {
  margin-top: 1em;
  margin-bottom: 1em;
}

nav a, nav span {
  font-size: medium;
  margin-right: 1em;
}

nav a:first-child {
  font-weight: bold;
}

nav a:last-child {
  margin-right: 0;
}

hr {
  margin: 1em auto;
  border: 0;
  border-bottom: thin solid #ccc;
}

footer {
  font-size: medium;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
}

pre {
  border-left: 2.5px solid black;
  padding-left: 1.5em;
}

/* Desktops/laptops */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .hero {
      flex-flow: row nowrap;
  }
}
 
/* Tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .hero {
      flex-flow: row nowrap;
  }
}
 
/* Tablet */
@media all and (min-width: 480px) and (max-width: 768px) {
  .hero {
      flex-flow: column-reverse nowrap;
  }

  .hero figure {
      margin-bottom: -0.5em;
  }
}

/* Phone */
@media all and (max-width: 480px) { 
  .hero {
      flex-flow: column-reverse nowrap;
  }

  .hero figure {
      margin-bottom: -0.5em;
  }
}

.hero {
  display: flex;
  align-items: center;
}

.hero figure {
  max-width: 30%;
  min-width: 200px;
}

main img {
  max-width: 100%;
  display: block;
  margin: .75em auto;
}

section {
  margin-bottom: 2em;
}

body,
h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited,
.pgp a:link, .pgp a:visited,
.license a:link, .license a:visited,
nav a:first-child:link, nav a:first-child:visited
{
  color: #333;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active,
h6 a:hover, h6 a:active,
.pgp a:hover, .pgp a:active,
.license a:hover, .license a:active,
nav a:first-child:hover, nav a:first-child:active
{
  color: #555;
}

a:link, a:visited {
  text-decoration: none
}

a:hover, a:active {
  text-decoration: underline
}

a:link, a:visited {
  color: #03c;
}

a:hover, a:active {
  color: #03f;
}

.footnotes hr {
  border: 0;
  text-align: center;
}

.footnotes hr:after {
  content: "⁂";
  color: #333;
  display: inline;
}

footer address {
  font-style: normal;
}
