<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="me" href="mailto:me@dimitrije.website">

        <meta name="description" content="Dimitrije's Website">
        <meta name="author" content="Dimitrije Radojević">

        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/syntax.css"/>

        <title>Dimitrije's Website$if(htmltitle)$ - $htmltitle$$endif$</title>
        <!-- FB OG tags -->
        <meta name="og:title" content="Unprivileged userland containers without root or userns" />
        <meta name="og:description" content="(This post goes into some details about Arch Linux, but the general principles apply the same to other Linux distributions, too.)  " />
        <meta name="og:type" content="article" />
        <meta name="og:image" content="https://chrisdown.name/images/hnr.jpg" />

        <!-- Twitter tags -->
        <meta name="twitter:title" content="Unprivileged userland containers without root or userns" />
        <meta name="twitter:text:title" content="Unprivileged userland containers without root or userns" />
        <meta name="twitter:description" content="(This post goes into some details about Arch Linux, but the general principles apply the same to other Linux distributions, too.)  " />
        <meta name="twitter:image" content="https://chrisdown.name/images/hnr.jpg" />
        <meta name="twitter:creator" content="@unixchris" />
        <meta name="twitter:site" content="@unixchris" />
    </head>
    <body>
        <header>
            $partial("templates/header.html")$
        </header>

        <main role="main">
            $body$
        </main>

        <hr>
        <footer>
            $partial("templates/footer.html")$
        </footer>
    </body>
</html>
