<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Dimitrije's Website">
        <meta name="author" content="Dimitrije Radojević">

        <link rel="me" href="mailto:me@dimitrije.website">
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/syntax.css"/>

        <title>Dimitrije's Website$if(htmltitle)$ - $htmltitle$$endif$</title>
    </head>
    <body>
        <header>
            $partial("templates/header.html")$
        </header>

        <main role="main">
            $body$
        </main>

        <hr>
        <footer>
            $partial("templates/footer.html")$
        </footer>
    </body>
</html>
