<div class="links">
<a href=".">Home</a>
<a href="blog/">Blog</a>
<a href="about/">About</a>
</div>
<div class="icons">
<a href="blog/rss.xml"><img
   src="./img/footer/feed.svg" alt="Feed" title="RSS Feed"></a> 
<a href="dark/"><img
   src="./img/footer/moon.svg" alt="Dark" title="Dark Mode"></a>
<a href="https://github.com/susam"><img
   src="./img/footer/github.svg" alt="GitHub" title="GitHub"></a> 
<a href="https://twitter.com/dradojevic"><img
   src="./img/footer/twitter.svg" alt="Twitter" title="Twitter"></a>
<a href="https://www.linkedin.com/in/dimitrijer/"><img
   src="./img/footer/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a>
</div>
<p>&copy; 2020 Dimitrije Radojević</p>
<address>Write me at <a href="mailto:me@dimitrije.website">me@dimitrije.website</a></address>
